<h1>Your Ticket is in the Queue...</h1>

<h2>{{model.pair}}</h2>
<h2>{{model.location}}</h2>
<h2>{{model.description}}</h2>
<h2>{{model.time}}</h2>

<button {{action 'destroyTicket' model}}>Delete Ticket</button>
